<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="sendEdit()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </div>
  <form [formGroup]="myform" *ngIf="!isLoading">
    <ion-grid fixed>
      <ion-row>
        <ion-col  size="12">
          <ion-item >
            <ion-text  color="primary">
              <h1>{{place.title}}</h1>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-input type="text" formControlName="title" label="Title" labelPlacement="floating" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-input type="number" formControlName="price" label="Price" labelPlacement="floating" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-textarea formControlName="description" label="Description" labelPlacement="floating"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-input formControlName="imageUrl" label="ImageUrl" labelPlacement="floating" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
