<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isLoading ? 'Loading...':place.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-margin" *ngIf="isLoading">
    <ion-spinner color="primary" name="bubbles"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row >
      <ion-col sizeSm="6" offsetSm="3" class="ion-no-padding">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" sizeSm="6" offsetSm="3">
        <p>{{place.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBookable">
      <ion-col sizeSm="6" offsetSm="3" class="ion-text-center">
        <ion-button (click)="onBookPlace()" color="primary" class="ion-margin" expand="block" >
          Book
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
